* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

nav {
    background-color: azure;
    padding: 8px 10px;
}

.navbar{
    list-style: none;
    display: flex;
    /* justify-content: end - yesle chai content lai end ma lagxa */
    /* justify-content: space- between,- spaces create grxaa element bichma, 
    space-around,-equal margin element ko gap herera dinxa, space-evenly: sabai tira equal margin dinxa */
 
    gap: 12px;
}

ul a:hover {
    color: pink; 
    text-decoration:dashed underline;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* Hero Section */

.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url('./imagemain.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-section__wrapper{
    height: 100%;
    width: 100%;
    background-color: rgb(40 87 141 / 40%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .hero-section__title{
    font-size: 50px;
    font-weight: 700;
    color: white;
    font-family: "Edu AU VIC WA NT Arrows", cursive;
} */

.hero-section__wrapper h1{
    margin-bottom: 24px;
    color: white;
    font-family: "Edu AU VIC WA NT Arrows", cursive;
}

.hero-section__wrapper p{
    color: white;
    font-family: "Underdog", system-ui;
}


.hero-section__link{
    margin-top: 40px;
    color: black;
    background-color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.hero-section__link:hover{
    color: white; 
    text-decoration:dashed underline;
    background-color:rgba(19, 82, 165, 0.314);
}

.quote{
    width: 100%;
    height: 1000px;
    background-color:#f3ededda;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
    
}

.statement{
    padding: 20px;
    font-size: 40px;
   margin-bottom: 20px;
    color:black;

}

.text-center{
    text-align: center;
}
.assignment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 120px 80px;
} 

.assignment-list-card {
border: 1px solid red;
border-radius: 8px;
width: 45%;
height: 200px;

}

@media (max-width: 767px) {
   footer{
       background-color: azure;
    }
}

@media (max-width: 767px) {
    .assignment-list-card {
        width: 100%;
        height: 200px;;
    }
}
@media (min-width:1200px) {
    footer{
        background-color: blue;
    }
}

@media (min-width:768) and (max-width: 1200px){
    footer{
        background-color: green;
    }
}

.go-to-top{
    background-color: black;
    color: white;
    size: 1.5rem;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 100px;

}

.go-to-top svg{
    fill: white;
}
.position-relative{
    position: relative;
   padding: 40px 300px;
   width: 100%;
    height: 100vh;
   background-color: white;
}

.position-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
}
.w-100{
    width: 100%;
}

.h-100 {
    height: 100%;
}

.playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}