* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

nav {
    background-color: azure;
    padding: 8px 10px;
}

.navbar{
    list-style: none;
    display: flex;
    /* justify-content: end - yesle chai content lai end ma lagxa */
    /* justify-content: space- between,- spaces create grxaa element bichma, 
    space-around,-equal margin element ko gap herera dinxa, space-evenly: sabai tira equal margin dinxa */
 
    gap: 12px;
}

ul a:hover {
    color: pink; 
    text-decoration:dashed underline;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* Hero Section */

.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url('./imagemain.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-section__wrapper{
    height: 100%;
    width: 100%;
    background-color: rgb(40 87 141 / 40%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section__wrapper h1{
    margin-bottom: 24px;
    color: white;
    font-family: "Edu AU VIC WA NT Arrows", cursive;
}

.hero-section__wrapper p{
    color: white;
    font-family: "Underdog", system-ui;
}


.hero-section__link{
    margin-top: 40px;
    color: black;
    background-color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.hero-section__link:hover{
    color: white; 
    text-decoration:dashed underline;
    background-color:rgba(19, 82, 165, 0.314);
}